<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test1Monster</key>
	<dict>
		<key>Package</key>
		<string>main</string>
		<key>Des</key>
		<string>怪物1</string>
	</dict>
	<key>Test2Monster</key>
	<dict>
		<key>Package</key>
		<string>main</string>
		<key>Des</key>
		<string>怪物2</string>
	</dict>
	<key>jingzhiyuanzhenrenMonster</key>
	<dict>
		<key>Package</key>
		<string>main</string>
		<key>Des</key>
		<string>井之原真人</string>
	</dict>
	<key>dogMonster</key>
	<dict>
		<key>Package</key>
		<string>main</string>
		<key>Des</key>
		<string>狗</string>
	</dict>
</dict>
</plist>
