<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainScene</key>
	<dict>
		<key>Package</key>
		<string>main</string>
		<key>Des</key>
		<string>游戏的主菜单场景</string>
	</dict>
	<key>LoginScene</key>
	<dict>
		<key>Package</key>
		<string>main</string>
		<key>Des</key>
		<string>登录场景</string>
	</dict>
	<key>PreloadScene</key>
	<dict>
		<key>Package</key>
		<string>main</string>
		<key>Des</key>
		<string>预加载场景</string>
	</dict>
	<key>DiqiuScene</key>
	<dict>
		<key>Package</key>
		<string>main</string>
		<key>Des</key>
		<string>第一个怪物场景</string>
	</dict>
</dict>
</plist>
