<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>folderName</key>
	<string>DiqiuScene</string>
	<key>bg</key>
	<array>
		<string>mainsceneMap_157</string>
		<string>mainsceneMap_158</string>
		<string>mainsceneMap_159</string>
		<string>mainsceneMap_160</string>
		<string>mainsceneMap_161</string>
		<string>mainsceneMap_162</string>
		<string>mainsceneMap_163</string>
		<string>mainsceneMap_164</string>
		<string>mainsceneMap_165</string>
		<string>mainsceneMap_166</string>
		<string>mainsceneMap_167</string>
		<string>mainsceneMap_168</string>
		<string>mainsceneMap_169</string>
		<string>mainsceneMap_144</string>
		<string>mainsceneMap_145</string>
		<string>mainsceneMap_146</string>
		<string>mainsceneMap_147</string>
		<string>mainsceneMap_148</string>
		<string>mainsceneMap_149</string>
		<string>mainsceneMap_150</string>
		<string>mainsceneMap_151</string>
		<string>mainsceneMap_152</string>
		<string>mainsceneMap_153</string>
		<string>mainsceneMap_154</string>
		<string>mainsceneMap_155</string>
		<string>mainsceneMap_156</string>
		<string>mainsceneMap_131</string>
		<string>mainsceneMap_132</string>
		<string>mainsceneMap_133</string>
		<string>mainsceneMap_134</string>
		<string>mainsceneMap_135</string>
		<string>mainsceneMap_136</string>
		<string>mainsceneMap_137</string>
		<string>mainsceneMap_138</string>
		<string>mainsceneMap_139</string>
		<string>mainsceneMap_140</string>
		<string>mainsceneMap_141</string>
		<string>mainsceneMap_142</string>
		<string>mainsceneMap_143</string>
		<string>mainsceneMap_118</string>
		<string>mainsceneMap_119</string>
		<string>mainsceneMap_120</string>
		<string>mainsceneMap_121</string>
		<string>mainsceneMap_122</string>
		<string>mainsceneMap_123</string>
		<string>mainsceneMap_124</string>
		<string>mainsceneMap_125</string>
		<string>mainsceneMap_126</string>
		<string>mainsceneMap_127</string>
		<string>mainsceneMap_128</string>
		<string>mainsceneMap_129</string>
		<string>mainsceneMap_130</string>
		<string>mainsceneMap_105</string>
		<string>mainsceneMap_106</string>
		<string>mainsceneMap_107</string>
		<string>mainsceneMap_108</string>
		<string>mainsceneMap_109</string>
		<string>mainsceneMap_110</string>
		<string>mainsceneMap_111</string>
		<string>mainsceneMap_112</string>
		<string>mainsceneMap_113</string>
		<string>mainsceneMap_114</string>
		<string>mainsceneMap_115</string>
		<string>mainsceneMap_116</string>
		<string>mainsceneMap_117</string>
		<string>mainsceneMap_92</string>
		<string>mainsceneMap_93</string>
		<string>mainsceneMap_94</string>
		<string>mainsceneMap_95</string>
		<string>mainsceneMap_96</string>
		<string>mainsceneMap_97</string>
		<string>mainsceneMap_98</string>
		<string>mainsceneMap_99</string>
		<string>mainsceneMap_100</string>
		<string>mainsceneMap_101</string>
		<string>mainsceneMap_102</string>
		<string>mainsceneMap_103</string>
		<string>mainsceneMap_104</string>
		<string>mainsceneMap_79</string>
		<string>mainsceneMap_80</string>
		<string>mainsceneMap_81</string>
		<string>mainsceneMap_82</string>
		<string>mainsceneMap_83</string>
		<string>mainsceneMap_84</string>
		<string>mainsceneMap_85</string>
		<string>mainsceneMap_86</string>
		<string>mainsceneMap_87</string>
		<string>mainsceneMap_88</string>
		<string>mainsceneMap_89</string>
		<string>mainsceneMap_90</string>
		<string>mainsceneMap_91</string>
		<string>mainsceneMap_66</string>
		<string>mainsceneMap_67</string>
		<string>mainsceneMap_68</string>
		<string>mainsceneMap_69</string>
		<string>mainsceneMap_70</string>
		<string>mainsceneMap_71</string>
		<string>mainsceneMap_72</string>
		<string>mainsceneMap_73</string>
		<string>mainsceneMap_74</string>
		<string>mainsceneMap_75</string>
		<string>mainsceneMap_76</string>
		<string>mainsceneMap_77</string>
		<string>mainsceneMap_78</string>
		<string>mainsceneMap_53</string>
		<string>mainsceneMap_54</string>
		<string>mainsceneMap_55</string>
		<string>mainsceneMap_56</string>
		<string>mainsceneMap_57</string>
		<string>mainsceneMap_58</string>
		<string>mainsceneMap_59</string>
		<string>mainsceneMap_60</string>
		<string>mainsceneMap_61</string>
		<string>mainsceneMap_62</string>
		<string>mainsceneMap_63</string>
		<string>mainsceneMap_64</string>
		<string>mainsceneMap_65</string>
		<string>mainsceneMap_40</string>
		<string>mainsceneMap_41</string>
		<string>mainsceneMap_42</string>
		<string>mainsceneMap_43</string>
		<string>mainsceneMap_44</string>
		<string>mainsceneMap_45</string>
		<string>mainsceneMap_46</string>
		<string>mainsceneMap_47</string>
		<string>mainsceneMap_48</string>
		<string>mainsceneMap_49</string>
		<string>mainsceneMap_50</string>
		<string>mainsceneMap_51</string>
		<string>mainsceneMap_52</string>
		<string>mainsceneMap_27</string>
		<string>mainsceneMap_28</string>
		<string>mainsceneMap_29</string>
		<string>mainsceneMap_30</string>
		<string>mainsceneMap_31</string>
		<string>mainsceneMap_32</string>
		<string>mainsceneMap_33</string>
		<string>mainsceneMap_34</string>
		<string>mainsceneMap_35</string>
		<string>mainsceneMap_36</string>
		<string>mainsceneMap_37</string>
		<string>mainsceneMap_38</string>
		<string>mainsceneMap_39</string>
		<string>mainsceneMap_14</string>
		<string>mainsceneMap_15</string>
		<string>mainsceneMap_16</string>
		<string>mainsceneMap_17</string>
		<string>mainsceneMap_18</string>
		<string>mainsceneMap_19</string>
		<string>mainsceneMap_20</string>
		<string>mainsceneMap_21</string>
		<string>mainsceneMap_22</string>
		<string>mainsceneMap_23</string>
		<string>mainsceneMap_24</string>
		<string>mainsceneMap_25</string>
		<string>mainsceneMap_26</string>
		<string>mainsceneMap_01</string>
		<string>mainsceneMap_02</string>
		<string>mainsceneMap_03</string>
		<string>mainsceneMap_04</string>
		<string>mainsceneMap_05</string>
		<string>mainsceneMap_06</string>
		<string>mainsceneMap_07</string>
		<string>mainsceneMap_08</string>
		<string>mainsceneMap_09</string>
		<string>mainsceneMap_10</string>
		<string>mainsceneMap_11</string>
		<string>mainsceneMap_12</string>
		<string>mainsceneMap_13</string>
	</array>
	<key>enterPoint</key>
	<dict>
		<key>x</key>
		<integer>100</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
	<key>contextSize</key>
	<dict>
		<key>width</key>
		<integer>5120</integer>
		<key>height</key>
		<integer>5120</integer>
	</dict>
</dict>
</plist>
