<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>井之原真人</string>
	<key>folderName</key>
	<string>jingzhiyuanzhenrenMonster</string>
	<key>align</key>
	<string>CENTER</string>
	<key>ANI_ATTACK</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
		</dict>
	</array>
	<key>ANI_DEFAULT</key>
	<dict>
		<key>frames</key>
		<array>
			<string>81</string>
			<string>82</string>
			<string>83</string>
			<string>84</string>
		</array>
	</dict>
	<key>ANI_MOVE_LEFT</key>
	<dict>
		<key>frames</key>
		<array>
			<string>89</string>
			<string>90</string>
			<string>91</string>
			<string>92</string>
		</array>
	</dict>
	<key>ANI_TOP</key>
	<dict>
		<key>frames</key>
		<array>
			<string>65</string>
			<string>66</string>
			<string>67</string>
			<string>68</string>
		</array>
	</dict>
	<key>ANI_BOTTOM</key>
	<dict>
		<key>frames</key>
		<array>
			<string>81</string>
			<string>82</string>
			<string>83</string>
			<string>84</string>
		</array>
	</dict>
	<key>ANI_MOVE_RIGHT</key>
	<dict>
		<key>frames</key>
		<array>
			<string>73</string>
			<string>74</string>
			<string>75</string>
			<string>76</string>
		</array>
	</dict>
	<key>ANI_MOVE_TOP_RIGHT</key>
	<dict>
		<key>frames</key>
		<array>
			<string>69</string>
			<string>70</string>
			<string>71</string>
			<string>72</string>
		</array>
	</dict>
	<key>ANI_MOVE_BOTTOM_RIGHT</key>
	<dict>
		<key>frames</key>
		<array>
			<string>77</string>
			<string>78</string>
			<string>79</string>
			<string>80</string>
		</array>
	</dict>
	<key>ANI_MOVE_TOP_LEFT</key>
	<dict>
		<key>frames</key>
		<array>
			<string>93</string>
			<string>94</string>
			<string>95</string>
			<string>96</string>
		</array>
	</dict>
	<key>ANI_MOVE_BOTTOM_LEFT</key>
	<dict>
		<key>frames</key>
		<array>
			<string>85</string>
			<string>86</string>
			<string>87</string>
			<string>88</string>
		</array>
	</dict>
</dict>
</plist>
